@import 'variables';

body {
  font-family: $font-stack;
  color: #333;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-stack;
  font-weight: 600;
}

a {
  color: #db146a;
  text-decoration: none;
  box-shadow: 0 1px 0 0 currentColor;
}

hr {
  border: 0;

  height: 1px;

  background-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0.3),
    rgba(0, 0, 0, 0)
  );

  margin-bottom: 2rem;
}
