@mixin xs-only {
  @media (max-width: 599px) {
    @content;
  }
}
@mixin s-and-up {
  @media (min-width: 600px) {
    @content;
  }
}
@mixin m-and-up {
  @media (min-width: 900px) {
    @content;
  }
}
@mixin l-and-up {
  @media (min-width: 1200px) {
    @content;
  }
}
@mixin xl-and-up {
  @media (min-width: 1800px) {
    @content;
  }
}
