.blog-post-preview {
  margin-bottom: 3rem;
}

.blog-post-preview__date {
  text-transform: uppercase;
  font-size: smaller;
}

.blog-post-preview__heading {
  margin-top: 0.5rem;
  margin-bottom: 1rem;
}
